# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
venv-order/
.venv/

# Flask instance folder
instance/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log

# SQLite database (if used later)
*.sqlite3
*.db

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# Docker (optional future use)
docker-compose.override.yml
